/* Add your styles for StickyEnquiryButton here */
.sticky-enquiry-button-container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right: 0;
  padding: 0px; /* Adjust the padding as needed */
  margin-right: -33px;
  z-index: 1000; /* Set a higher z-index value */

  /* Other styles */
}

.enquiry-button {
  /* Add styles for the button */
  margin: 0px;
  font-size: 30px;
  background: #c49635;
  border: none;
  color: white;
  border-radius: 10px;
  z-index: 1001; /* Set a higher z-index value than the container */

  /* Other styles */
}
