/* WeOperate.css */
.we-operate-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  
    background-color: #511527;
     /* Adjust padding for smaller screens */
  }
  
  .columns {
    flex: 1;
    text-align: center;
   
  }
  
  /* Optional: Add styling for the text or customize as needed */
  .columns button {
    margin: 0;
    padding: 10px; /* Adjust padding for the button */
    font-size: 18px;
    color: white;
   background-color: #511527;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    width: 150px;
    height: 59px;
    border-radius: 5px;
  }
  
  /* Hover effect */
  .columns button:hover {
    background-color: #ae8210; /* Adjust the background color on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition effect */
    transform: translateX(5px);
  }


  .button {
    transition: transform 0.3s ease; /* Add transition effect */
  }
  
  /* Remove the hover effect when not in hover state */
  .button:not(:hover) {
    transform: translateX(0);
  }
  
  .columns1 {
    color: white;
    font-size: 30px;
  }
  
  /* Add gap between Residential and Retail */
  .gap {
    margin-bottom: 10px; /* Adjust the value for the desired gap */
  }
  
  /* Media queries for responsiveness */
  @media screen and (max-width: 768px) {
    .we-operate-container {
      flex-direction: columns;
      padding: 0px; /* Adjust padding for smaller screens */
    }
  
    .columns {
      flex: 100%;
      flex-direction: row;
    }
    
  }
  

  /* Your existing styles */

/* Mobile styles */
@media (max-width: 768px) {
  .body{
    padding: 0;
    margin: 0;
  }
  .we-operate-container {
   
    padding: 0px; 
    margin: 0px;
  }
  .columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed for spacing */
    padding: 0px;
    margin: 0;
  }
  .columns1{
    padding: 0px;
    margin: 0px;
  }

  .columns > div {
    margin-right: 10px; /* Adjust as needed for spacing between items */
  }
  .button{
    padding: 0px;
  }
  .gap {
    margin-bottom: 0px; /* Adjust the value for the desired gap */
  }
}
