/* Map.css */
.map-container {
    display: flex;
   padding: 50px;
  }
  
  .left-section {
    width: 40%;
    padding: 40px;
    background: #fff;
  }
  
  .right-section {
    width: 50%;
    margin-left: 60px;
  }
  
  .form-box {
    margin-top: 20px;
    padding: 40px;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .input-with-icon {
    position: relative;
  }
  
  .input-with-icon input {
    padding-left: 30px;
  }
  
  .button {
    background-color: #511527;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .google-map {
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 768px) {
    .map-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .left-section
     {
      width: 100%;
      margin-left: 0;
     
    }

    .right-section{

        width: 100%;
        margin-left: 0;
        height: 100vh;
    }


  
    .form-box {
      padding: 20px;
    }
  }