/* Add your styles for StickyIcons here */
.sticky-icons-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    display: flex;
    flex-direction: column;
    /* Add styles for WhatsApp and call icons */
    
  }
  
  .whatsapp-icon,
.call-icon {
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 10px; /* Add margin between icons */
  margin-top: 5px;
 
}

/* Additional styling for individual icons */
.whatsapp-icon {
  color: #25d366; /* WhatsApp color */
  background: #c49635;
  width: 40px;
  text-align: center;
}

.call-icon {
  color: #007bff; /* Call icon color */
  width: 40px;
  text-align: center;
  background: #c49635;
}