/* ProductiveTalk.css */

.productive-talk-container {
    display: flex;
    
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
  }
  
  .productivetalkleft-box {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #ddd;
  }
  
  .productivetalkright-box {
    flex: 1;
    padding: 10px;
  }
  
  .productivetalktitle {
    font-size: 30px;
   color: #511527;
  }
  
  .divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .form-box {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 20px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-box {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .button {
    background-color: #511527;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .productivetalkrighttitle{
    color: #511527;
    font-size: 42px;
  }
  .productivetalkright p{
    color: #511527;
    font-size: 13.17px;
    
  }