/* ProductiveTalk.css */

.productive-talk-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #f9f7ef;
    padding: 40px;
}

.productivetalkleft-box
{
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);

    width: 40%;
}

.productivetalkright-box{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);


}

.productivetalkleft-box {
   
   
    padding: 20px;
    margin-right: 40px;
}
.productivetalkright-box{
    padding: 20px;
}

.productivetalktitle {
    font-size: 50px;
    color: #511527;
}

.customes-divider {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #511212;
    width: 20%;
    
}

.form-box {
    margin-bottom: 20px;
    padding: 20px; /* Adjusted padding for better consistency */
    box-sizing: border-box;
    
   /* Apply a white shadow to a border */

   
    box-shadow: 0 0 10px rgba(172, 134, 134, 0.7);
}



.input-label {
    display: block;
    margin-bottom: 5px;
}

.input-box {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.button {
    background-color: #511527;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.productivetalkrighttitle {
    color: #511527;
    font-size: 42px;
}

.productivetalkright p {
    color: #511527;
    font-size: 13.17px;
}

/* Media Query for Mobile */
@media (max-width: 786px) {
    .productive-talk-container {
        max-width: 100%;
        flex-direction: column;
    }

    .productivetalkleft-box,
    .productivetalkright-box {
        width: 100%;
        
    }

    .productivetalktitle {
        font-size: 24px;
    }

    .form-box {
        padding: 10px;
    }

    .button {
        width: auto;
    }

    .productivetalkrighttitle {
        font-size: 30px;
    }

    .productivetalkright p {
        font-size: 12px;
    }
}



.input-with-icon{
    display: flex;
    flex-direction: row;
}

.input-box::placeholder {
    color: #090808; /* Set the desired font color for the placeholder */
}

.productivetalkleft-box{
    height: 480px;
}