/* Navbar.css */

* {
  box-sizing: border-box;
}

:root {
  --mainColor: #29335c;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--mainColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondaryColor);
  
}

nav .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
 
}

nav .responsive_nav {
  transform: translateY(0);
}

/* Add this style to your Navbar.css file */
/* Add this style to your Navbar.css file */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000; /* Ensure the navbar appears above other content */
  transition: margin-top 0.3s ease; /* Add smooth transition */
}

/* Adjust the margin-top based on your actual navbar height */
.navbar.active {
  margin-top: 0;
}


/* Default styling for larger screens */
.navbar-brand img {
  width: 300px; /* Default width */
  height: 80px; /* Default height */
}

/* Media query for screens up to 767px wide (typical mobile screens) */
@media only screen and (max-width: 767px) {
  .navbar-brand img {
    width: 150px; /* Adjusted width for mobile screens */
    height: 40px; /* Adjusted height for mobile screens */
  }
}


/* Navbar link styling */
.navbar-nav a {
  text-decoration: none;
  position: relative;
}

/* Underline effect below the text on hover */
.navbar-nav a:hover {
  text-decoration: none;
}

.navbar-nav a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 160%; /* Position it below the text */
  left: 0;
  background-color: #511527; /* Adjust the color of the underline */
}
