/* Navbar.css */

* {
  box-sizing: border-box;
}

:root {
  --mainColor: #29335c;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--mainColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--secondaryColor);
  
}

nav .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

nav .responsive_nav {
  transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  header nav {
    position: fixed;
    top: 80px;
    left: 0;
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: transform 0.3s ease;
    transform: translateY(-100%);
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header .responsive_nav {
    transform: translateY(0);
  }
}
