/* Welcometo.css */

/* Common styles for all screen sizes */
.welcometo-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* .welcometo-left {
    position: relative;
    z-index: 2;
    width: 70%;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid;
    display: inline-block;
    padding: 20px;
    z-index: 2;
    margin-right: -150px;
  } */
  .welcometo-left {
    position: relative;
    z-index: 2; /* Ensure the left box is above the image */
    width: 650px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border: 1px solid;
    margin-right: 20px;
    margin-top: 100px;
    margin-right: -800px;
    z-index: 1;
    background-color: white;
    padding: 20px;
    
  }
  
  .headingtitle {
    font-size: 15px;
    color: #511527;
    text-align: left;
  }
  
  .text-content .title {
    font-size: 28px;
    color: #511527;
  }
  
  .para-content p {
    font-size: 18px;
    color: #511527;
  }
  
  .primary-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #511527;
    color: #fff;
    border-radius: 5px;
    margin: 20px 7px 0px 0px;
    padding: 15px 20px;
  }
  
  .primary-btn span {
    width: 90px;
    height: 20px;
    color: #ffffff;
    font-size: 18px;
  }
  
  .primary-btn::after {
    content: '\00a0→';
    margin-left: 10px;
  }
  
  .primary-btn:hover {
    background-color: #bb9c21;
  }
  
  .divider {
    border-top: 2px solid #8f7b0a;
    margin: 20px 0;
    width: 80px;
  }
  
  .full-attachment {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Responsive styles for screens with a maximum width of 767px (typical for mobile devices) */
  @media (max-width: 767px) {
    .welcometo-container {
      flex-direction: column;
    }
  
    .welcometo-left {
      width: 100%; /* Take full width on mobile */
      height: auto; /* Auto height on mobile */
      margin-top: 0; /* Reset top margin on mobile */
    }
     
  
    /* Add any additional styles needed for mobile */
  }
  
  /* Add this to your Welcometo.css file */
.image-content img {
  max-width: 100%;
  height: auto;
}
