/* Whatwedo.css */

.whatwedo-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    text-align: left;
    font-size: 28px;
    color: #511527;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 15px;
    
    box-sizing: border-box;
  }
  
  .line {
    height: 2px;
    background-color: #ccc;
    margin: 10px 0;
  }
  
  /* Mobile responsiveness */
  @media (max-width: 768px) {
    .box {
      width: 100%;
    }
  }
  
  /* Additional Styling for Box Content */
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-size: 28px;
    color: #511527;
  }
  
 .box p {
    font-size: 1em;
    line-height: 1.6;
    color: #511527;
  }
  
  /* Whatwedo.css */

/* ... (previous styles) */

.mini-title {
    font-size: 1em;
    font-weight: bold;
    color: #511527;
    margin-bottom: 10px;
  }
  